{
  "cloudpath": "file://data/segmentation",
  "out_dir": "out",
  "mip": 0,
  "shape": "256 256 256",
  "simplification": true,
  "max_simplification_error": 40,
  "mesh_dir": null,
  "cdn_cache": false,
  "dust_threshold": null,
  "object_ids": null,
  "progress": false,
  "fill_missing": true,
  "encoding": "precomputed",
  "spatial_index": true,
  "sharded": false,
  "manifest_magnitude": 3,
  "parallel": true,
  "nlod": 2,
  "vqb": 16,
  "min_chunk_size": "256 256 256",
  "merge_dir": null
}
