{
  "channel": "bossdb://microns/minnie65_8x8x40/em",
  "x_start": 14520,
  "y_start": 11724,
  "z_start": 21641,
  "x_stop": 15032,
  "y_stop": 12236,
  "z_stop": 21705,
  "resolution": 3,
  "model": "20260825_191045 - MONAI BasicUNet 3D",
  "threshold": 0.5,
  "output_path": "outputs"
}
